body {
  /* font-family: NanumGothic, Consolas; */
}

.container-fluid {
  padding-top: 20px;
}

/* body div input */
#btn_nightDay {
  /* font-size: 1.1em;
  float: right;
  border: 0;
  margin: 10px; */
}
body.black {
  background-color: black;
  color: white;
}

body.black a {
  color: white;
}

a:visited {
  /* color: orange; */
  text-decoration: none;
  /* text-decoration: overline; */
}

a {
  color: black;
  text-decoration-line: none;
}
